<!DOCTYPE html>
<html>
<head>
	<title>MadeByTemple source</title>
<script src="jquery.js"></script>
	<script>	
		$(document).ready(function(){
			$('#l1').hover(function(){
				$('#t1').stop().fadeToggle(500);
			});
			$('#l2').hover(function(){
				$('#t2').stop().fadeToggle(500);
			});
			$('#l3').hover(function(){
				$('#t3').stop().fadeToggle(500);
			});
			$('#l4').hover(function(){
				$('#t4').stop().fadeToggle(500);
			});
			$('#l5').hover(function(){
				$('#t5').stop().fadeToggle(500);
			});
			$('#l6').hover(function(){
				$('#t6').stop().fadeToggle(500);
			});
			$('#l7').hover(function(){
				$('#t7').stop().fadeToggle(500);
			});
			$('#l8').hover(function(){
				$('#t8').stop().fadeToggle(500);
			});
			$('#l9').hover(function(){
				$('#t9').stop().fadeToggle(500);
			});
			$('#l10').hover(function(){
				$('#t10').stop().fadeToggle(500);
			});
			$('#l11').hover(function(){
				$('#t11').stop().fadeToggle(500);
			});
			$('#l12').hover(function(){
				$('#t12').stop().fadeToggle(500);
			});
			$('#l13').hover(function(){
				$('#t13').stop().fadeToggle(500);
			});
			$('#l14').hover(function(){
				$('#t14').stop().fadeToggle(500);
			});
			$('#l15').hover(function(){
				$('#t15').stop().fadeToggle(500);
			});
			$('#l16').hover(function(){
				$('#t16').stop().fadeToggle(500);
			});
			$('#l17').hover(function(){
				$('#t17').stop().fadeToggle(500);
			});
			$('#l18').hover(function(){
				$('#t18').stop().fadeToggle(500);
			});
			$('#l19').hover(function(){
				$('#t19').stop().fadeToggle(500);
			});
			$('#l20').hover(function(){
				$('#t20').stop().fadeToggle(500);
			});
			$('#l21').hover(function(){
				$('#t21').stop().fadeToggle(500);
			});
			$('#l22').hover(function(){
				$('#t22').stop().fadeToggle(500);
			});
			$('#l23').hover(function(){
				$('#t23').stop().fadeToggle(500);
			});
			$('#l24').hover(function(){
				$('#t24').stop().fadeToggle(500);
			});
			$('#l25').hover(function(){
				$('#t25').stop().fadeToggle(500);
			});
			$('#l26').hover(function(){
				$('#t26').stop().fadeToggle(500);
			});
			$('#l27').hover(function(){
				$('#t27').stop().fadeToggle(500);
			});
			$('#l28').hover(function(){
				$('#t28').stop().fadeToggle(500);
			});
			$('#l29').hover(function(){
				$('#t29').stop().fadeToggle(500);
			});
			$('#l30').hover(function(){
				$('#t30').stop().fadeToggle(500);
			});
			$('#l31').hover(function(){
				$('#t31').stop().fadeToggle(500);
			});
			$('#l32').hover(function(){
				$('#t32').stop().fadeToggle(500);
			});
			$('#l33').hover(function(){
				$('#t33').stop().fadeToggle(500);
			});
			$('#l34').hover(function(){
				$('#t34').stop().fadeToggle(500);
			});
			$('#l35').hover(function(){
				$('#t35').stop().fadeToggle(500);
			});
			$('#l36').hover(function(){
				$('#t36').stop().fadeToggle(500);
			});
			$('#l37').hover(function(){
				$('#t37').stop().fadeToggle(500);
			});
			$('#l38').hover(function(){
				$('#t38').stop().fadeToggle(500);
			});
			$('#l39').hover(function(){
				$('#t39').stop().fadeToggle(500);
			});
			$('#l40').hover(function(){
				$('#t40').stop().fadeToggle(500);
			});
			$('#l41').hover(function(){
				$('#t41').stop().fadeToggle(500);
			});
			$('#l42').hover(function(){
				$('#t42').stop().fadeToggle(500);
			});
			$('#l43').hover(function(){
				$('#t43').stop().fadeToggle(500);
			});
			$('#l44').hover(function(){
				$('#t44').stop().fadeToggle(500);
			});
			$('#l45').hover(function(){
				$('#t45').stop().fadeToggle(500);
			});
			$('#l46').hover(function(){
				$('#t46').stop().fadeToggle(500);
			});
			$('#l47').hover(function(){
				$('#t47').stop().fadeToggle(500);
			});
			$('#l48').hover(function(){
				$('#t48').stop().fadeToggle(500);
			});
			$('#l49').hover(function(){
				$('#t49').stop().fadeToggle(500);
			});
			$('#l50').hover(function(){
				$('#t50').stop().fadeToggle(500);
			});
			$('#l51').hover(function(){
				$('#t51').stop().fadeToggle(500);
			});
			$('#l52').hover(function(){
				$('#t52').stop().fadeToggle(500);
			});
			$('#l53').hover(function(){
				$('#t53').stop().fadeToggle(500);
			});
			$('#l54').hover(function(){
				$('#t54').stop().fadeToggle(500);
			});
			$('#l55').hover(function(){
				$('#t55').stop().fadeToggle(500);
			});
			$('#l56').hover(function(){
				$('#t56').stop().fadeToggle(500);
			});
			$('#l57').hover(function(){
				$('#t57').stop().fadeToggle(500);
			});
			$('#l58').hover(function(){
				$('#t58').stop().fadeToggle(500);
			});
			$('#l59').hover(function(){
				$('#t59').stop().fadeToggle(500);
			});
			$('#l60').hover(function(){
				$('#t60').stop().fadeToggle(500);
			});
			$('#l61').hover(function(){
				$('#t61').stop().fadeToggle(500);
			});
			$('#l62').hover(function(){
				$('#t62').stop().fadeToggle(500);
			});
			$('#l63').hover(function(){
				$('#t63').stop().fadeToggle(500);
			});
			$('#l64').hover(function(){
				$('#t64').stop().fadeToggle(500);
			});
			$('#l65').hover(function(){
				$('#t65').stop().fadeToggle(500);
			});
			$('#l66').hover(function(){
				$('#t66').stop().fadeToggle(500);
			});
			$('#l67').hover(function(){
				$('#t67').stop().fadeToggle(500);
			});
			$('#l68').hover(function(){
				$('#t68').stop().fadeToggle(500);
			});
			$('#l69').hover(function(){
				$('#t69').stop().fadeToggle(500);
			});
			$('#l70').hover(function(){
				$('#t70').stop().fadeToggle(500);
			});
			$('#l71').hover(function(){
				$('#t71').stop().fadeToggle(500);
			});
			$('#l72').hover(function(){
				$('#t72').stop().fadeToggle(500);
			});
			$('#l73').hover(function(){
				$('#t73').stop().fadeToggle(500);
			});
			$('#l74').hover(function(){
				$('#t74').stop().fadeToggle(500);
			});
			$('#l75').hover(function(){
				$('#t75').stop().fadeToggle(500);
			});
			$('#l76').hover(function(){
				$('#t76').stop().fadeToggle(500);
			});
			$('#l77').hover(function(){
				$('#t77').stop().fadeToggle(500);
			});
			$('#l78').hover(function(){
				$('#t78').stop().fadeToggle(500);
			});
			$('#l79').hover(function(){
				$('#t79').stop().fadeToggle(500);
			});
			$('#l80').hover(function(){
				$('#t80').stop().fadeToggle(500);
			});
			$('#l81').hover(function(){
				$('#t81').stop().fadeToggle(500);
			});
			$('#l82').hover(function(){
				$('#t82').stop().fadeToggle(500);
			});
			$('#l83').hover(function(){
				$('#t83').stop().fadeToggle(500);
			});
			$('#l84').hover(function(){
				$('#t84').stop().fadeToggle(500);
			});
			$('#l85').hover(function(){
				$('#t85').stop().fadeToggle(500);
			});
			$('#l86').hover(function(){
				$('#t86').stop().fadeToggle(500);
			});
			$('#l87').hover(function(){
				$('#t87').stop().fadeToggle(500);
			});
			$('#l88').hover(function(){
				$('#t88').stop().fadeToggle(500);
			});
			$('#l89').hover(function(){
				$('#t89').stop().fadeToggle(500);
			});
			$('#l90').hover(function(){
				$('#t90').stop().fadeToggle(500);
			});
			$('#l91').hover(function(){
				$('#t91').stop().fadeToggle(500);
			});
			$('#l92').hover(function(){
				$('#t92').stop().fadeToggle(500);
			});
			$('#l93').hover(function(){
				$('#t93').stop().fadeToggle(500);
			});
			$('#l94').hover(function(){
				$('#t94').stop().fadeToggle(500);
			});
			$('#l95').hover(function(){
				$('#t95').stop().fadeToggle(500);
			});
			$('#l96').hover(function(){
				$('#t96').stop().fadeToggle(500);
			});
			$('#l97').hover(function(){
				$('#t97').stop().fadeToggle(500);
			});
			$('#l98').hover(function(){
				$('#t98').stop().fadeToggle(500);
			});
			$('#l99').hover(function(){
				$('#t99').stop().fadeToggle(500);
			});
			$('#l100').hover(function(){
				$('#t100').stop().fadeToggle(500);
			});
			$('#l101').hover(function(){
				$('#t101').stop().fadeToggle(500);
			});
			$('#l102').hover(function(){
				$('#t102').stop().fadeToggle(500);
			});
			$('#l103').hover(function(){
				$('#t103').stop().fadeToggle(500);
			});
			$('#l104').hover(function(){
				$('#t104').stop().fadeToggle(500);
			});
			$('#l105').hover(function(){
				$('#t105').stop().fadeToggle(500);
			});
			$('#l106').hover(function(){
				$('#t106').stop().fadeToggle(500);
			});
			$('#l107').hover(function(){
				$('#t107').stop().fadeToggle(500);
			});
			$('#l108').hover(function(){
				$('#t108').stop().fadeToggle(500);
			});
			$('#l109').hover(function(){
				$('#t109').stop().fadeToggle(500);
			});
			$('#l110').hover(function(){
				$('#t110').stop().fadeToggle(500);
			});
			$('#l111').hover(function(){
				$('#t111').stop().fadeToggle(500);
			});
			$('#l112').hover(function(){
				$('#t112').stop().fadeToggle(500);
			});
			$('#l113').hover(function(){
				$('#t113').stop().fadeToggle(500);
			});
			$('#l114').hover(function(){
				$('#t114').stop().fadeToggle(500);
			});
			$('#l115').hover(function(){
				$('#t115').stop().fadeToggle(500);
			});
			$('#l116').hover(function(){
				$('#t116').stop().fadeToggle(500);
			});
			$('#l117').hover(function(){
				$('#t117').stop().fadeToggle(500);
			});
			$('#l118').hover(function(){
				$('#t118').stop().fadeToggle(500);
			});
			$('#l119').hover(function(){
				$('#t119').stop().fadeToggle(500);
			});
			$('#l120').hover(function(){
				$('#t120').stop().fadeToggle(500);
			});
			$('#l121').hover(function(){
				$('#t121').stop().fadeToggle(500);
			});
			$('#l122').hover(function(){
				$('#t122').stop().fadeToggle(500);
			});
			$('#l123').hover(function(){
				$('#t123').stop().fadeToggle(500);
			});
			$('#l124').hover(function(){
				$('#t124').stop().fadeToggle(500);
			});
			$('#l125').hover(function(){
				$('#t125').stop().fadeToggle(500);
			});
			$('#l126').hover(function(){
				$('#t126').stop().fadeToggle(500);
			});
			$('#l127').hover(function(){
				$('#t127').stop().fadeToggle(500);
			});
			$('#l128').hover(function(){
				$('#t128').stop().fadeToggle(500);
			});
			$('#l129').hover(function(){
				$('#t129').stop().fadeToggle(500);
			});
			$('#l130').hover(function(){
				$('#t130').stop().fadeToggle(500);
			});
			$('#l131').hover(function(){
				$('#t131').stop().fadeToggle(500);
			});
			$('#l132').hover(function(){
				$('#t132').stop().fadeToggle(500);
			});
			$('#l133').hover(function(){
				$('#t133').stop().fadeToggle(500);
			});
			$('#l134').hover(function(){
				$('#t134').stop().fadeToggle(500);
			});
			$('#l135').hover(function(){
				$('#t135').stop().fadeToggle(500);
			});
			$('#l136').hover(function(){
				$('#t136').stop().fadeToggle(500);
			});
			$('#l137').hover(function(){
				$('#t137').stop().fadeToggle(500);
			});
			$('#l138').hover(function(){
				$('#t138').stop().fadeToggle(500);
			});
			$('#l139').hover(function(){
				$('#t139').stop().fadeToggle(500);
			});
			$('#l140').hover(function(){
				$('#t140').stop().fadeToggle(500);
			});
			$('#l141').hover(function(){
				$('#t141').stop().fadeToggle(500);
			});
			$('#l142').hover(function(){
				$('#t142').stop().fadeToggle(500);
			});
			$('#l143').hover(function(){
				$('#t143').stop().fadeToggle(500);
			});
			$('#l144').hover(function(){
				$('#t144').stop().fadeToggle(500);
			});
			$('#l145').hover(function(){
				$('#t145').stop().fadeToggle(500);
			});
			$('#l146').hover(function(){
				$('#t146').stop().fadeToggle(500);
			});
			$('#l147').hover(function(){
				$('#t147').stop().fadeToggle(500);
			});
			$('#l148').hover(function(){
				$('#t148').stop().fadeToggle(500);
			});
			$('#l149').hover(function(){
				$('#t149').stop().fadeToggle(500);
			});
			$('#l150').hover(function(){
				$('#t150').stop().fadeToggle(500);
			});
			$('#l151').hover(function(){
				$('#t151').stop().fadeToggle(500);
			});
			$('#l152').hover(function(){
				$('#t152').stop().fadeToggle(500);
			});
			$('#l153').hover(function(){
				$('#t153').stop().fadeToggle(500);
			});
			$('#l154').hover(function(){
				$('#t154').stop().fadeToggle(500);
			});
			$('#l155').hover(function(){
				$('#t155').stop().fadeToggle(500);
			});
			$('#l156').hover(function(){
				$('#t156').stop().fadeToggle(500);
			});
			$('#l157').hover(function(){
				$('#t157').stop().fadeToggle(500);
			});
			$('#l158').hover(function(){
				$('#t158').stop().fadeToggle(500);
			});
			$('#l159').hover(function(){
				$('#t159').stop().fadeToggle(500);
			});
			$('#l160').hover(function(){
				$('#t160').stop().fadeToggle(500);
			});
			$('#l161').hover(function(){
				$('#t161').stop().fadeToggle(500);
			});
			$('#l162').hover(function(){
				$('#t162').stop().fadeToggle(500);
			});
			$('#l163').hover(function(){
				$('#t163').stop().fadeToggle(500);
			});
			$('#l131').hover(function(){
				$('#t164').stop().fadeToggle(500);
			});
			$('#l165').hover(function(){
				$('#t165').stop().fadeToggle(500);
			});
			$('#l166').hover(function(){
				$('#t166').stop().fadeToggle(500);
			});
		});
	</script>
	<style>
		body, html{
			margin: 0;
			padding: 0;
			background-color: rgb(242, 241, 239);
			font-family: 'Roboto Condensed', sans-serif;
		}
		.container{
			width: 70%;
			left: 0;
			right: 0;
			margin: auto;
		}
		.code{
			width: 100%;
			height: justify;
			background-color: #3A3A3A;
			padding-left: 20px;
			padding-right: 10px;


		}
		.codeheading{
			text-align: center;
		}
		.heading{
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 6em; 
		}
		code{
			cursor: pointer;
			line-height: 220%;
		}
		.html{
			color: #8A9CF1;

		}
		.css{
			color: #F9690E;
		}
		.javascript{
			color: #EC7063;
		}
		.tooltip{
			 position: relative;
    		 display: inline-block;
  			 width: justify;
   			 background-color: #34384D;
   			 color: #fff;
   			 text-align: center;
   			 padding: 2px 2px 2px 2px;
   			 border-radius: 6px;
    		 position: absolute;
   			 z-index: 1;
   			 margin-left: 1em;
  			 }
   		.tooltip{
   			display: none;
   		}
   		.comment{
   			color: white;
   			background-color: black;
   		}
   		pre{
			white-space:pre-wrap;
   		}	 
	</style>
</head>
<body>
<div class="container">
	<div class="codeheading"><span class="heading">HTML</span></div>
	<div class="code html">
<pre>
<code id="l1">&lt;body&gt;</code><span class="tooltip" id="t1">The body tag</span>
<code id="l3">&lt;header&gt;</code><span class="tooltip" id="t3">Header of the webpage starts here which includes navigation bar(enclosed in a division) and heading.</span>
<code id="l4">&lt;div id="top"&gt;</code><span class="tooltip" id="t4">A division for the top-most region of the site</span>
<code id="l5">	&lt;span id="top-heading"&gt;TEMPLE&lt;/span&gt;</code><span class="tooltip" id="t5">A text-style span for the logo at top-left</span>
<code id="l6">&lt;/div&gt;</code><span class="tooltip" id="t6">top div ends here</span>
<code id="l8">&lt;div id="nav"&gt;</code><span class="tooltip" id="t8">the top-right anchor's are specified here</span>
<code id="l9">	&lt;ul&gt;</code><span class="tooltip" id="t9">A unordered list which automatically aligns the navigation list for us</span>
<code id="l10">	&lt;li&gt;&lt;a href="#" class="a1"&gt;WORK&lt;/a&gt;&lt;/li&gt;</code><span class="tooltip" id="t10">list item with a dummy anchor</span>
<code id="l11">	&lt;li&gt;&lt;a href="#" class="a1"&gt;ABOUT&lt;/a&gt;&lt;/li&gt;</code><span class="tooltip" id="t11">list item with a dummy anchor</span>
<code id="l12">	&lt;li&gt;&lt;a href="#" class="a1"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;</code><span class="tooltip" id="t12">list item with a dummy anchor</span>
<code id="l13">	&lt;/ul&gt;</code><span class="tooltip" id="t13">Unordered list ends here</span>
<code id="l14">&lt;/div&gt;</code><span class="tooltip" id="t14">nav div ends here.</span>
<code id="l16">&lt;/header&gt;</code><span class="tooltip" id="t16">Header of the webpage ends here.</span>
<code id="l18">&lt;section&gt;</code><span class="tooltip" id="t18">Section starts here which includes the sliding image, which changes on clicking the image, and text</span>
<code id="l20">	&lt;img src="img/img1.jpg" id="pic" style="height: 100%; width: 100%;" onclick="changeimg()"&gt;</code><span class="tooltip" id="t20">The image which changes onclick is specified here, appropriate javascript is applied to change the image onclick </span>
<code id="l22">&lt;div id="info"&gt; The text which is placed after the image is specified here with appropriate styling explained above </code><span class="tooltip" id="t22">Paragraph</span>
<code id="l23">	&lt;p class="p1"&gt;Temple is a design practice that works with clients in the cultural sectors and creates design-&lt;br&gt;related products including fonts and apparel.&lt;/p&gt;</code><span class="tooltip" id="t23">Paragraph</span>
<code id="l24">	&lt;p class="p1"&gt;Find out more &lt;a href="#" class="a2"&gt;about&lt;/a&gt; us, see our &lt;a href="#" class="a2"&gt;work&lt;/a&gt; or write to us at &lt;a href="#" class="a2"&gt;info@madebytemple.com&lt;/a&gt;.&lt;/p&gt;</code><span class="tooltip" id="t24">Paragraph about us</span>
<code id="l25">&lt;/div&gt;</code><span class="tooltip" id="t25"></span>
<code id="l26">&lt;/section&gt;</code><span class="tooltip" id="t26">Section ends here</span>
<code id="l27"></code><span class="tooltip" id="t27"></span>
<code id="l28">&lt;footer&gt;</code><span class="tooltip" id="t28">Footer starts here which includes dummy links placed in the bottom-left of the webpage </span>
<code id="l29">	&lt;hr&gt;</code><span class="tooltip" id="t29">A horizontal row.</span>
<code id="l30">	&lt;a href="#" class="a3"&gt;EMAIL&lt;/a&gt;&lt;br&gt;</code><span class="tooltip" id="t30">dummy link</span>
<code id="l31">	&lt;a href="#" class="a3"&gt;TWITTER&lt;/a&gt;&lt;br&gt;</code><span class="tooltip" id="t31">dummy link</span>
<code id="l32">	&lt;a href="#" class="a3"&gt;TUMBLR&lt;/a&gt;&lt;br&gt;</code><span class="tooltip" id="t32">dummy link</span>
<code id="l33">	&lt;a href="#" class="a3"&gt;BEHANCE&lt;/a&gt;&lt;br&gt;</code><span class="tooltip" id="t33">dummy link</span>
<code id="l34">&lt;/footer&gt; </code><span class="tooltip" id="t34">Footer ends here </span>
<code id="l35"></code><span class="tooltip" id="t35"></span>
<code id="l36">&lt;/body&gt;</code><span class="tooltip" id="t36"></span>
</pre>
	</div>
	<div class="codeheading"><span class="heading">CSS</span></div>
	<div class="code css">
<pre>
<code id="l37">body</code><span class="tooltip" id="t37">all the contents within the body tag would be styled by this element selector</span>
<code id="l38">{</code><span class="tooltip" id="t38"></span>
<code id="l39">	margin: 0;</code><span class="tooltip" id="t39">specifies the distance from all four margins</span>
<code id="l40">	padding: 0;</code><span class="tooltip" id="t40">specifies the distance of the internal contents</span>
<code id="l41">}</code><span class="tooltip" id="t41"></span>
<code id="l42">#top{</code><span class="tooltip" id="t42">styling of the top content</span>
<code id="l43">	height: justify;</code><span class="tooltip" id="t43">justifies the height according to child elements</span>
<code id="l44">	width: 6em;</code><span class="tooltip" id="t44">specifies the width</span>
<code id="l45">	font-weight: 600;</code><span class="tooltip" id="t45">sets the font weight/boldness</span>
<code id="l46">	letter-spacing: 5px;</code><span class="tooltip" id="t46">specifies the space between each letter of text</span>
<code id="l47">	font-size: 1.5em;</code><span class="tooltip" id="t47">sets the font size</span>
<code id="l48">	text-align: center;</code><span class="tooltip" id="t48"> aligns the text in center</span>
<code id="l49">	margin-left: 10%;</code><span class="tooltip" id="t49"> specifies the distance from left margin</span>
<code id="l50">	margin-top: 1%;</code><span class="tooltip" id="t50">specifies the distance from top margin</span>
<code id="l51">}</code><span class="tooltip" id="t51"></span>
<code id="l52">#top-heading</code><span class="tooltip" id="t52">styling of heading 'TEMPLE' written on the top-left</span>
<code id="l53">{</code><span class="tooltip" id="t53"></span>
<code id="l54">	font-family: arial; </code><span class="tooltip" id="t54">sets the font type</span>
<code id="l55">}</code><span class="tooltip" id="t55"></span>
<code id="l56">header</code><span class="tooltip" id="t56">styling of the semantic tag header, basically for the heading and navigation</span>
<code id="l57">{</code><span class="tooltip" id="t57"></span>
<code id="l58">	height: justify;</code><span class="tooltip" id="t58">justifies the height according to child elements</span>
<code id="l59">	width: 100%;</code><span class="tooltip" id="t59">stretches the width to fit the available width</span>
<code id="l60">	position: fixed;</code><span class="tooltip" id="t60">specifes that the border's position should be fixed, therefore it'll move along with scrolling</span>
<code id="l61">	border-top: 5px solid black; </code><span class="tooltip" id="t61">specifies the border's width and type</span>
<code id="l62">}</code><span class="tooltip" id="t62"></span>
<code id="l63">#nav</code><span class="tooltip" id="t63">a division id named 'nav' for particularly for navigation bar</span>
<code id="l64">{</code><span class="tooltip" id="t64"></span>
<code id="l65">	height: justify;</code><span class="tooltip" id="t65">justifies the height according to child elements</span>
<code id="l66">	width: justify;</code><span class="tooltip" id="t66">justifies the height according to child elements</span>
<code id="l67">	margin-right: 2em;</code><span class="tooltip" id="t67">specifies the distance from left margin</span>
<code id="l68">}</code><span class="tooltip" id="t68"></span>
<code id="l69">#nav ul{</code><span class="tooltip" id="t69">all the unorederd list contents of the division id named 'nav'</span>
<code id="l70">	list-style-type: none; </code><span class="tooltip" id="t70">specifies that there should be no styling for list tag; removes the downward listing style</span>
<code id="l71">	float: right; </code><span class="tooltip" id="t71">moves the contents of this specific division to right</span>
<code id="l72">}</code><span class="tooltip" id="t72"></span>
<code id="l73">#nav li{</code><span class="tooltip" id="t73">styling of the internal contents of list of the division id named 'nav'</span>
<code id="l74">		margin-right: 10px; </code><span class="tooltip" id="t74">specifies the distance from left margin</span>
<code id="l75">		float: left; </code><span class="tooltip" id="t75">moves the contents of this specific division to left</span>
<code id="l76">}</code><span class="tooltip" id="t76"></span>
<code id="l77">.a1</code><span class="tooltip" id="t77">an anchor class for options placed on the top right corner</span>
<code id="l78">{</code><span class="tooltip" id="t78"></span>
<code id="l79">	text-decoration: none; </code><span class="tooltip" id="t79">removes the anchor's underline</span>
<code id="l80">	color: #7B7A7A  ; </code><span class="tooltip" id="t80">sets the text colour</span>
<code id="l81">	font-size: 1em; </code><span class="tooltip" id="t81">sets the font size</span>
<code id="l82">	letter-spacing: 1px; </code><span class="tooltip" id="t82">specifies the space between each letter of text</span>
<code id="l83">}</code><span class="tooltip" id="t83"></span>
<code id="l84">.p1</code><span class="tooltip" id="t84">styling of the paragraph class for the text under the image</span>
<code id="l85">{</code><span class="tooltip" id="t85"></span>
<code id="l86">	font-size: 18px; </code><span class="tooltip" id="t86">sets the font size</span>
<code id="l87">	margin-bottom: 1%; </code><span class="tooltip" id="t87">specifies the distance from bottom margin</span>
<code id="l88">	font-size: 1em;</code><span class="tooltip" id="t88">sets the font size</span>
<code id="l89">}</code><span class="tooltip" id="t89"></span>
<code id="l90">#info</code><span class="tooltip" id="t90">an id for the division tag which has all the text under the image</span>
<code id="l91">{</code><span class="tooltip" id="t91"></span>
<code id="l92">	float: right; </code><span class="tooltip" id="t92">moves the contents of this specific division to right</span>
<code id="l93">	height: justify; </code><span class="tooltip" id="t93">specifies the height</span>
<code id="l94">	width: justify; </code><span class="tooltip" id="t94">specifies the width</span>
<code id="l95">	margin-right: 90px; </code><span class="tooltip" id="t95">specifies the distance from right margin</span>
<code id="l96">	display: block;</code><span class="tooltip" id="t96"></span>
<code id="l97">}</code><span class="tooltip" id="t97"></span>
<code id="l98">section{</code><span class="tooltip" id="t98">styling of the semantic tag section</span>
<code id="l99">		margin-bottom: 30%; </code><span class="tooltip" id="t99">specifies the distance from bottom margin</span>
<code id="l100">}</code><span class="tooltip" id="t100"></span>
<code id="l101">.a1:hover, .a2:hover, .a3:hover</code><span class="tooltip" id="t101">styling of the anchor tags' hovers(cursor)</span>
<code id="l102">{</code><span class="tooltip" id="t102"></span>
<code id="l103">	color: black; </code><span class="tooltip" id="t103">sets the text colour as black when the mouse cursor is placed over it</span>
<code id="l104">}</code><span class="tooltip" id="t104"></span>
<code id="l105">.a2,.a3</code><span class="tooltip" id="t105">anchor classes for the links within the paragraph and the footer links placed in the bottom-left corner</span>
<code id="l106">{</code><span class="tooltip" id="t106"></span>
<code id="l107">	color: #7B7A7A; </code><span class="tooltip" id="t107">sets the text colour</span>
<code id="l108">	text-decoration: none; </code><span class="tooltip" id="t108">removes the anchor's underline</span>
<code id="l109">}</code><span class="tooltip" id="t109"></span>
<code id="l110">.a3</code><span class="tooltip" id="t110">anchor class for the footer links placed in the bottom-left corner</span>
<code id="l111">{</code><span class="tooltip" id="t111"></span>
<code id="l112">	margin-left: 80px; </code><span class="tooltip" id="t112">specifies the distance from left margin</span>
<code id="l113">	letter-spacing: 1px; </code><span class="tooltip" id="t113">specifies the space between each letter of text</span>
<code id="l114">}</code><span class="tooltip" id="t114"></span>
<code id="l121">footer{</code><span class="tooltip" id="t121">styling of the semantic tag footer's contents basically at the end of the page</span>
<code id="l122">	left: 0;</code><span class="tooltip" id="t122"></span>
<code id="l123">	right: 0;</code><span class="tooltip" id="t123"></span>
<code id="l124">	margin: auto; </code><span class="tooltip" id="t124">specifies the distance from all four margins</span>
<code id="l125">	width: 80%; </code><span class="tooltip" id="t125">specifies the width</span>
<code id="l126">}</code><span class="tooltip" id="t126"></span>
</pre>
	</div>
	<div class="codeheading"><span class="heading">Javascript</span></div>
	<div class="code javascript">
<pre>
<code id="l127">function changeimg()</code><span class="tooltip" id="t127">Function declaration. This function will proceed once changeimg() will be called by onclick.</span>
<code id="l128">{</code><span class="tooltip" id="t128"></span>
<code id="l129">	var image = document.getElementById("pic")</code><span class="tooltip" id="t129">Grabbing the address of element 'pic' and saving it in variable</span>
<code id="l130">	if(image.getAttribute('src') == "img/img1.jpg")</code><span class="tooltip" id="t130">Condition checking the current source of the 'pic' element</span>
<code id="l131">	{</code><span class="tooltip" id="t131"></span>
<code id="l132">		image.src = "img/img2.jpg"</code><span class="tooltip" id="t132">changing the source of the element</span>
<code id="l133">	}</code><span class="tooltip" id="t133"></span>
<code id="l134">	else if(image.getAttribute('src') == "img/img2.jpg")</code><span class="tooltip" id="t134">Condition checking the current source of the 'pic' element</span>
<code id="l135">	{</code><span class="tooltip" id="t135"></span>
<code id="l136">		image.src = "img/img3.jpg"</code><span class="tooltip" id="t136">changing the source of the elemen</span>
<code id="l137">	}</code><span class="tooltip" id="t137"></span>
<code id="l138">	else if(image.getAttribute('src') == "img/img3.jpg")</code><span class="tooltip" id="t138">Condition checking the current source of the 'pic' element</span>
<code id="l139">	{</code><span class="tooltip" id="t139"></span>
<code id="l140">		image.src = "img/img4.jpg"</code><span class="tooltip" id="t140">changing the source of the elemen</span>
<code id="l141">	}</code><span class="tooltip" id="t141"></span>
<code id="l142">	else if(image.getAttribute('src') == "img/img4.jpg")</code><span class="tooltip" id="t142">Condition checking the current source of the 'pic' element</span>
<code id="l143">	{</code><span class="tooltip" id="t143"></span>
<code id="l144">		image.src = "img/img5.jpg"</code><span class="tooltip" id="t144">changing the source of the elemen</span>
<code id="l145">	}</code><span class="tooltip" id="t145"></span>
<code id="l146">	else if(image.getAttribute('src') == "img/img5.jpg")</code><span class="tooltip" id="t146">Condition checking the current source of the 'pic' element</span>
<code id="l147">	{</code><span class="tooltip" id="t147"></span>
<code id="l148">		image.src = "img/img6.jpg"</code><span class="tooltip" id="t148">changing the source of the elemen</span>
<code id="l149">	}</code><span class="tooltip" id="t149"></span>
<code id="l150">	else if(image.getAttribute('src') == "img/img6.jpg")</code><span class="tooltip" id="t150">Condition checking the current source of the 'pic' element</span>
<code id="l151">	{</code><span class="tooltip" id="t151"></span>
<code id="l152">		image.src = "img/img7.jpg"</code><span class="tooltip" id="t152">changing the source of the elemen</span>
<code id="l153">	}</code><span class="tooltip" id="t153"></span>
<code id="l154">	else if(image.getAttribute('src') == "img/img7.jpg")</code><span class="tooltip" id="t154">Condition checking the current source of the 'pic' element</span>
<code id="l155">	{</code><span class="tooltip" id="t155"></span>
<code id="l156">		image.src = "img/img8.jpg"</code><span class="tooltip" id="t156">changing the source of the elemen</span>
<code id="l157">	}</code><span class="tooltip" id="t157"></span>
<code id="l158">	else if(image.getAttribute('src') == "img/img8.jpg")</code><span class="tooltip" id="t158">Condition checking the current source of the 'pic' element</span>
<code id="l159">	{</code><span class="tooltip" id="t159"></span>
<code id="l160">		image.src = "img/img9.jpg"</code><span class="tooltip" id="t160">changing the source of the elemen</span>
<code id="l161">	}</code><span class="tooltip" id="t161"></span>
<code id="l162">	else if(image.getAttribute('src') == "img/img9.jpg")</code><span class="tooltip" id="t162">Condition checking the current source of the 'pic' element. If it's at maximum, resetting it.</span>
<code id="l163">	{</code><span class="tooltip" id="t163"></span>
<code id="l164">		image.src = "img/img1.jpg"</code><span class="tooltip" id="t164">Resetting the source back to 1.</span>
<code id="l165">	}</code><span class="tooltip" id="t165"></span>
<code id="l166">}</code><span class="tooltip" id="t166"></span>
</pre>
	</div>
</div>
</body>
</html>