<!DOCTYPE html>
<html>
<head>
	<title> GoodFoodBlog </title>

	<style>

/*CSS stylesheet here*/

.a1{
	 color: #8ACCC2; /*sets the text colour*/
	 font-weight: 900px; /*sets the font size*/
	 margin-left: 80px; /*specifies the distance from left margin*/
	 letter-spacing: 2px; /*specifies the space between each letter of text*/
	 text-decoration: none; /*removes the anchor's underline*/
}

body{
	margin: auto; /*specifies the distance from all four margins*/
}

header{
	margin-left: 20px; /*specifies the distance from left margin*/
}

.p1{
	font-size: 6.7em; /*sets the font size*/
    color: #1F7B7A; /*sets the text colour*/
    letter-spacing: -3px; /*specifies the space between each letter of text*/
    margin-top: 40px; /*specifies the distance from top margin*/
}

.p2{
	font-size: 1.2em; /*sets the font size*/
    color: #787878; /*sets the text colour*/
}

.a2{
	color: #1F7B7A; /*sets the text colour*/
    border-right: transparent; /*sets the right border as transparent*/
    font-size: 1.4em; /*sets the font size*/
    text-decoration: none; /*removes the anchor's underline*/
    margin-left: 10px; /*specifies the distance from left margin*/
}

h4{
	font-size: 32px; /*sets the font size*/
	color: #444444; /*sets the text colour*/
	text-align: center; /*aligns the text in center*/
}

.d1{
	border-radius: 5px; /*specifies that the corner's points should be circular*/
	border-color: #1F7B7A; /*specifies the border's color*/
	border-width: 2px; /*specifies the border's width*/
	width: 300px; /*specifies the width*/
	height: 550px; /*specifies the height*/
	float: left; /*moves the contents of this specific division to left*/
	margin-left: 22px; /*specifies the distance from left margin*/
	background-color: #FFFFFF  ; /*sets the background colour*/
}

.d2{
	height: 200px; /*specifies the height*/
	width: 300px; /*specifies the width*/
	background-color: #FFFFFF  ; /*sets the background colour*/
}

.d3{
	width: 300px; /*specifies the width*/
	height: 350px; /*specifies the height*/
	background-color: #FFFFFF  ; /*sets the background colour*/
}

.p3{
	text-align: center; /*aligns the text in center*/
	margin-top: 0px; /*specifies the distance from top margin*/
}


	</style>
</head>

<!-- Webpage's body starts here -->

<body bgcolor="#F6FCFC"> 

<!-- Header which includes navigation bar and logo starts from here -->

<header>
	<img src="gf1.png" style="height: 50px; width: 220px; padding-top: 10px;">

<!-- Anchor tag is used when we want to link several other webpages to our main page. Here, dummy link which is reperesented by '#' is used. -->

	<a href="#" class="a1">ON THE MENU</a>
	<a href="#" class="a1">PRICING</a>
	<a href="#" class="a1">OUR STORY</a>
	<a href="#" class="a1">BLOG</a>
<center>
	<p class="p1">Fresh out of the Oven</p>
	<p class="p2">Fun ideas for the next time you cook</p>

	<hr><nav style="height: 40px;">
		<a href="#" class="a2">All |</a>
		<a href="#" class="a2">Dinner Conversation |</a>
		<a href="#" class="a2">Ingredient Spotlight |</a>
		<a href="#" class="a2">Kitchen Essentials   |</a>
	</nav><hr>
</header>

<!-- Header which includes navigation bar and logo ends here -->

<!-- The main body which includes all the divisions i.e containers are represented below. I've given every container same class just for alignment but every container's height and width is different plus every div contains further two more divisions: one for image and the other for text. -->

<section style="margin-left: 230px; margin-right: 230px;">
<div class="d1">
	<div style="height: 90px; width: 150px;"><img src="gf1.png" style="height: 50px; width: 220px; padding-top: 20px; padding-left: 18px;"></div><hr>
	<div class="d3">
	<h4>CELEBRATING A NEW LOOK & FEEL: CULINISTE'S EVOLUTION</h4>
	<p class="p3">Our first year in operation has been busy and oh so exciting! With the overwhelming support and loyalty of our members, we’ve grown from a team of 3 to a team of 50, and delivered over 150,000 meals across Quebec and Ontario. We’ve built deep relationships with partners we trust, to bring you the freshest, […]</p>
	</div>
</div>

<div class="d1">
	<div class="d2"><img src="gf2.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
	<h4>MUSHROOMS, MORELS AND MORE</h4>
	<p class="p3">The grass is turning a little bit greener and the buds will soon begin to bloom. As Mother Nature prepares to greet spring, chefs throughout Canada and the Northern US anticipate the arrival of locally grown produce into their kitchens. Among the first of the deliveries will be all sorts of mushrooms, foraged in the […]</p>
	</div>
</div>

<div class="d1">
	<div class="d2"><img src="gf3.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
	<h4>MAPLE SYRUP SEASON</h4>
	<p class="p3">The snow is slowly beginning to melt and signs of spring will soon be in bloom. But before the buds make their debut, we’d be remiss to go through the month of March without enjoying a dose of nature’s candy: maple syrup. Canada’s ideal climate makes it the perfect place for maple syrup production. In […]</p></div>
</div>

<div class="d1" style="margin-top: 20px; height: 640px;">
	<div class="d2"><img src="gf4.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
	<h4>FAMILY DINNER DONE RIGHT: INTRODUCING OUR NEW FAMILY RECIPES</h4>
	<p class="p3">Most nights, getting dinner on the table after a whirlwind of school pickups, homework and extracurricular activities seems like a miracle. The hours between 4pm and 6pm are always a bit of a blur when kids are involved in the afternoon mix, but that doesn’t mean that supper needs to suffer. We’re thrilled to announce […]</p></div>
</div>

<div class="d1" style="margin-top: 20px; height: 640px;">
	<div class="d2"><img src="gf5.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST: TIME WELL SPENT IN THE KITCHEN</h4>
		<p class="p3">We often take people for granted, especially those closest to us. We get so caught up with everyday life that we forget to stop and pause to acknowledge the incredible amount of love and care we exchange with our friends, families, and maybe even some furry-friends. At the very core of every one of us lies a […]</p>
	</div>
</div>

<div class="d1"  style="margin-top: 20px; height: 640px;">
	<div class="d2"><img src="gf6.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>ADD SOME PEPPER TO YOUR PLATE</h4>
		<p class="p3">As one of the most commonly used spices, pepper is a kitchen staple throughout the world. It adds a kick to any dish and we especially love adding a dash of it to boost a recipe’s flavour profile. Pepper also has a list of health benefits including improving digestion and helping to break down fat […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 620px;">
	<div class="d2"><img src="gf7.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>SUPER BOWL SUPER SNACKS (PART 2):BAKED BLOOMING ONION</h4>
		<p class="p3">I remember the first time I had a blooming onion, it was love at first sight. I’ve always been a big fan of onions, but crispy and crunchy onion strips in the shape of a lotus flower? Ah, I’m in L O V E. This baked blooming onion recipe only requires an onion, 2 eggs, […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 620px;">
	<div class="d2"><img src="gf8.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
	<h4>WHAT'S ALL THE FUSS ABOUT CAULIFLOWER</h4>
	<p class="p3">Not since kale made its debut at the dinner table has a vegetable gotten as much media attention as 2016’s infatuation with cauliflower. The great “cauliflower crisis” has prices topping out at $9 per head and has put this cruciferous vegetable in the spotlight as the California growing season got cut short. As a healthy […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 620px;">
	<div class="d2"><img src="gf9.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
	<h4>COOKING TOGETHER - A ROMANTIC CULINARY ADVENTURE</h4>
	<p class="p3">Reserving a table for two on February 14th can be a stressful task. Prix fixe menus, last minute reservations and inconvenient seating times all make eating out a somewhat unromantic affair. This Valentine’s Day, we’re proposing staying in, cooking together and going on a culinary adventure with your loved one in your very own kitchen. […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 720px;">
	<div class="d2"><img src="gf10.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>SOUP'S ONE - WHAT'S IN YOUR BOWL</h4>
		<p class="p3">As there doesn’t seem to be an end to winter in sight in the near future, our need for hearty and hot comfort food just went up a notch. For the past few weeks, the Culiniste team has been serving up some of our favourite soups from ramen with sirloin steaks to a creamy leek […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 720px;">
	<div class="d2"><img src="gf11.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>SUPER BOWL SUPER SNACKS(PART 1):JALAPENO CHILLI CAULIFLOWER POPCORN</h4>
		<p class="p3">There’s no Superbowl Sunday without delicious snacks and finger food. The usual nachos, buffalo wings, and pizza are staples at any party. But why not spin things around a bit and try something healthier this year without sacrificing taste and flavour. Upon researching healthier alternatives for Game Day snacks, I found this awesome cauliflower popcorn recipe […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 720px;">
	<div class="d2"><img src="gf12.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST: HAVE YOU TRIED THESE 5 WAYS TO COOK KALE?</h4>
		<p class="p3">By now everyone should know that kale is a superfood. For a while it was considered a trend in the nutrition industry, but with all of it’s amazing health benefits and versatility, kale isn’t going anywhere. Kale is part of the cancer-fighting brassica family of vegetables (along with broccoli, brussels sprouts, cauliflower, cabbage), and is […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 620px;">
	<div class="d2"><img src="gf13.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST: FLU BUSTING MISO SOUP</h4>
		<p class="p3">Did you know 80% of your immune system lives in your gut? That’s why including probiotics into your daily diet to balance your gut flora will boost your immunity in fighting against common bacterial infections. Eating fermented foods like miso, tempeh, yogurt, kefir, kimchi, sauerkraut is the easiest way to ensure optimal gut flora. What […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 620px;">
	<div class="d2"><img src="gf14.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST: SOUPING, MY WINTER DETOX(PART 1)</h4>
		<p class="p3">All-you-can-eat lunch buffets, extravagant dinners, and holiday feasts were all a thing of the past. Now it’s time for a much needed detox and post-holiday cleanse. I’m sure the first thing that comes to mind when I say detox is cold-pressed juice cleanses. But juicing in the Winter just doesn’t do it for me. I […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 620px;">
	<div class="d2"><img src="gf15.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST: SOUPING, MY WINTER DETOX(PART 2)</h4>
		<p class="p3">Who doesn’t love a rich and hearty soup that’ll warm you up from the inside out? Embracing the local harvesting season, using fresh seasonal heirloom carrots I got at the farmers market, I decided to create a Thai inspired Coconut Carrot soup. Bursting bright orange in colour, rich in beta-carotene, a precursor of Vitamin A with subtle […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 600px;">
	<div class="d2"><img src="gf16.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>HEALTHY HOME COOKED MEALS START WITH HEALTHY MEALS</h4>
		<p class="p3">Making healthy eating choices like choosing a bowl of salad over french fries is simple. But choosing your oils and knowing which ones are safe to cook can be a little trickier. Know your Fats! All oils are composed of different types of ‘fats’ in its profile. This is important to understand because each type […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 600px;">
	<div class="d2"><img src="gf17.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>FRIDGE STORAGE 101: PLACEMENT MATTERS</h4>
		<p class="p3">Most of us haven’t given much thought to how our refrigerator is organized. But did you know that a properly organized fridge can prolong the shelf life of certain foods and save you money in the long run? Condiments Generally, it’s best to keep condiments in the door of your refrigerator, along with any non-dairy […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 600px;">
	<div class="d2"><img src="gf18.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST: CURING WITH CULINARY HERBS</h4>
		<p class="p3">Aromatic culinary herbs not only add intensity and flavour to a dish, it also has medicinal properties that specifically heal your intestinal tract. You may find dried or fresh herbs in your recipes. Where dried varieties are more intensely flavoured and therefore, used in smaller amounts. You can even grow fresh ones in your patio […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 630px;">
	<div class="d2"><img src="gf19.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST - DRINK THIS NOT THAT | FRUIT-INFUSION WATER RECIPES</h4>
		<p class="p3">Sometimes our taste buds just crave a little more excitement than the plain ol’ of water. What happens is we succumb to our cravings and end up reaching for that sugar-loaded can of pop. A delicious and healthy alternative to soda is natural herb and fruit infused water with incredible depth and flavour that is […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 630px;">
	<div class="d2"><img src="gf20.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>THE COMMON MISTAKES WE MAKE IN THE KITCHEN.</h4>
		<p class="p3">They usually creep up on us when we’re in a rush or feeling a little bit lazy – time to call them out once and for all! Food should never touch a cold pan. Want to make sure your ingredients don’t soak up oil and stick to cooking surfaces? Get your pan nice and hot, […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 630px;">
	<div class="d2"><img src="gf21.png" style="height: inherit; width: inherit;"></div><hr>
	<div class="d3">
		<h4>GUEST POST - FALLING FOR SQUASH</h4>
		<p class="p3">After a summer of BBQ and fresh cooling salads, I think we’re all starting to crave the warm comfort foods of the Autumn season: soups & stews, hearty breads and earthy squash. At this time of year in Southern Ontario many different varieties of squash are in season and overflowing at the grocery stores and […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 630px;">
	<div class="d2"><img src="gf22.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>GUEST POST - THE PERFECT SUMMER VEGETABLE</h4>
		<p class="p3">This week’s guest post is from Lauren Follett, registered nutritionist, who motivates and inspires healthy choices without compromising on flavour: The weather’s warm, and tomatoes are ripe for the picking! Field tomatoes or tomatoes grown outside in the field are in season July – September in Ontario & Quebec. Eating seasonally is awesome for a […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 630px;">
	<div class="d2"><img src="gf23.png" style="height: inherit; width: inherit;"></div>
	<div class="d3">
		<h4>A SUMMER COCKTAIL YOU'LL LOVE.</h4>
		<p class="p3">When air conditioning just isn’t cutting it, it’s time for a Caipirinha! Caiprinhas, a cousin of the mojito, are the national cocktail of Brazil. The authentic version calls for cachaça, an iconic South American alcohol distilled from fresh sugarcane. It’s fairly similar to white rum so feel free to use whatever you have on hand. Ingredients […]</p>
	</div>
</div>

<div class="d1" style="margin-top: 20px; height: 630px;">
	<div class="d2"><img src="gf24.png" style="height: inherit; width: inherit;"></div><hr>
	<div class="d3">
		<h4>WHAT'S THE BEST KIND OF CUTTING BOARD?</h4>
		<p class="p3">So your last board split in half and it’s time to invest in a new one – great! But with so many options available, it can be a real nightmare to set the record straight on which kind of cutting board is really worth your consideration. The most popular models on the market are made […]</p>
	</div>
</div>


</section>
</center>


</body>

<!-- Webpage's body ends here -->
</html>