<!DOCTYPE html>
<html>
<head>
	<title>LMS source</title>
	<script src="jquery.js"></script>
	<script>
		$(document).ready(function(){
			$('#l1').hover(function(){
				$('#t1').stop().fadeToggle(500);
			});
			$('#l2').hover(function(){
				$('#t2').stop().fadeToggle(500);
			});
			$('#l3').hover(function(){
				$('#t3').stop().fadeToggle(500);
			});
			$('#l4').hover(function(){
				$('#t4').stop().fadeToggle(500);
			});
			$('#l5').hover(function(){
				$('#t5').stop().fadeToggle(500);
			});
			$('#l6').hover(function(){
				$('#t6').stop().fadeToggle(500);
			});
			$('#l7').hover(function(){
				$('#t7').stop().fadeToggle(500);
			});
			$('#l8').hover(function(){
				$('#t8').stop().fadeToggle(500);
			});
			$('#l9').hover(function(){
				$('#t9').stop().fadeToggle(500);
			});
			$('#l10').hover(function(){
				$('#t10').stop().fadeToggle(500);
			});
			$('#l11').hover(function(){
				$('#t11').stop().fadeToggle(500);
			});
			$('#l12').hover(function(){
				$('#t12').stop().fadeToggle(500);
			});
			$('#l13').hover(function(){
				$('#t13').stop().fadeToggle(500);
			});
			$('#l14').hover(function(){
				$('#t14').stop().fadeToggle(500);
			});
			$('#l15').hover(function(){
				$('#t15').stop().fadeToggle(500);
			});
			$('#l16').hover(function(){
				$('#t16').stop().fadeToggle(500);
			});
			$('#l17').hover(function(){
				$('#t17').stop().fadeToggle(500);
			});
			$('#l18').hover(function(){
				$('#t18').stop().fadeToggle(500);
			});
			$('#l19').hover(function(){
				$('#t19').stop().fadeToggle(500);
			});
			$('#l20').hover(function(){
				$('#t20').stop().fadeToggle(500);
			});
			$('#l21').hover(function(){
				$('#t21').stop().fadeToggle(500);
			});
			$('#l22').hover(function(){
				$('#t22').stop().fadeToggle(500);
			});
			$('#l23').hover(function(){
				$('#t23').stop().fadeToggle(500);
			});
			$('#l24').hover(function(){
				$('#t24').stop().fadeToggle(500);
			});
			$('#l25').hover(function(){
				$('#t25').stop().fadeToggle(500);
			});
			$('#l26').hover(function(){
				$('#t26').stop().fadeToggle(500);
			});
			$('#l27').hover(function(){
				$('#t27').stop().fadeToggle(500);
			});
			$('#l28').hover(function(){
				$('#t28').stop().fadeToggle(500);
			});
			$('#l29').hover(function(){
				$('#t29').stop().fadeToggle(500);
			});
			$('#l30').hover(function(){
				$('#t30').stop().fadeToggle(500);
			});
			$('#l31').hover(function(){
				$('#t31').stop().fadeToggle(500);
			});
			$('#l32').hover(function(){
				$('#t32').stop().fadeToggle(500);
			});
			$('#l33').hover(function(){
				$('#t33').stop().fadeToggle(500);
			});
			$('#l34').hover(function(){
				$('#t34').stop().fadeToggle(500);
			});
			$('#l35').hover(function(){
				$('#t35').stop().fadeToggle(500);
			});
			$('#l36').hover(function(){
				$('#t36').stop().fadeToggle(500);
			});
			$('#l37').hover(function(){
				$('#t37').stop().fadeToggle(500);
			});
			$('#l38').hover(function(){
				$('#t38').stop().fadeToggle(500);
			});
			$('#l39').hover(function(){
				$('#t39').stop().fadeToggle(500);
			});
			$('#l40').hover(function(){
				$('#t40').stop().fadeToggle(500);
			});
			$('#l41').hover(function(){
				$('#t41').stop().fadeToggle(500);
			});
			$('#l42').hover(function(){
				$('#t42').stop().fadeToggle(500);
			});
			$('#l43').hover(function(){
				$('#t43').stop().fadeToggle(500);
			});
			$('#l44').hover(function(){
				$('#t44').stop().fadeToggle(500);
			});
			$('#l45').hover(function(){
				$('#t45').stop().fadeToggle(500);
			});
			$('#l46').hover(function(){
				$('#t46').stop().fadeToggle(500);
			});
			$('#l47').hover(function(){
				$('#t47').stop().fadeToggle(500);
			});
			$('#l48').hover(function(){
				$('#t48').stop().fadeToggle(500);
			});
			$('#l49').hover(function(){
				$('#t49').stop().fadeToggle(500);
			});
			$('#l50').hover(function(){
				$('#t50').stop().fadeToggle(500);
			});
			$('#l51').hover(function(){
				$('#t51').stop().fadeToggle(500);
			});
			$('#l52').hover(function(){
				$('#t52').stop().fadeToggle(500);
			});
			$('#l53').hover(function(){
				$('#t53').stop().fadeToggle(500);
			});
			$('#l54').hover(function(){
				$('#t54').stop().fadeToggle(500);
			});
			$('#l55').hover(function(){
				$('#t55').stop().fadeToggle(500);
			});
			$('#l56').hover(function(){
				$('#t56').stop().fadeToggle(500);
			});
			$('#l57').hover(function(){
				$('#t57').stop().fadeToggle(500);
			});
			$('#l58').hover(function(){
				$('#t58').stop().fadeToggle(500);
			});
			$('#l59').hover(function(){
				$('#t59').stop().fadeToggle(500);
			});
			$('#l60').hover(function(){
				$('#t60').stop().fadeToggle(500);
			});
			$('#l61').hover(function(){
				$('#t61').stop().fadeToggle(500);
			});
			$('#l62').hover(function(){
				$('#t62').stop().fadeToggle(500);
			});
			$('#l63').hover(function(){
				$('#t63').stop().fadeToggle(500);
			});
			$('#l64').hover(function(){
				$('#t64').stop().fadeToggle(500);
			});
			$('#l65').hover(function(){
				$('#t65').stop().fadeToggle(500);
			});
			$('#l66').hover(function(){
				$('#t66').stop().fadeToggle(500);
			});
			$('#l67').hover(function(){
				$('#t67').stop().fadeToggle(500);
			});
			$('#l68').hover(function(){
				$('#t68').stop().fadeToggle(500);
			});
			$('#l69').hover(function(){
				$('#t69').stop().fadeToggle(500);
			});
			$('#l70').hover(function(){
				$('#t70').stop().fadeToggle(500);
			});
			$('#l71').hover(function(){
				$('#t71').stop().fadeToggle(500);
			});
			$('#l72').hover(function(){
				$('#t72').stop().fadeToggle(500);
			});
			$('#l73').hover(function(){
				$('#t73').stop().fadeToggle(500);
			});
			$('#l74').hover(function(){
				$('#t74').stop().fadeToggle(500);
			});
			$('#l75').hover(function(){
				$('#t75').stop().fadeToggle(500);
			});
			$('#l76').hover(function(){
				$('#t76').stop().fadeToggle(500);
			});
			$('#l77').hover(function(){
				$('#t77').stop().fadeToggle(500);
			});
			$('#l78').hover(function(){
				$('#t78').stop().fadeToggle(500);
			});
			$('#l79').hover(function(){
				$('#t79').stop().fadeToggle(500);
			});
			$('#l80').hover(function(){
				$('#t80').stop().fadeToggle(500);
			});
			$('#l81').hover(function(){
				$('#t81').stop().fadeToggle(500);
			});
			$('#l82').hover(function(){
				$('#t82').stop().fadeToggle(500);
			});
			$('#l83').hover(function(){
				$('#t83').stop().fadeToggle(500);
			});
			$('#l84').hover(function(){
				$('#t84').stop().fadeToggle(500);
			});
			$('#l85').hover(function(){
				$('#t85').stop().fadeToggle(500);
			});
			$('#l86').hover(function(){
				$('#t86').stop().fadeToggle(500);
			});
			$('#l87').hover(function(){
				$('#t87').stop().fadeToggle(500);
			});
			$('#l88').hover(function(){
				$('#t88').stop().fadeToggle(500);
			});
			$('#l89').hover(function(){
				$('#t89').stop().fadeToggle(500);
			});
			$('#l90').hover(function(){
				$('#t90').stop().fadeToggle(500);
			});
		});

			</script>
	<style>
		body, html{
			margin: 0;
			padding: 0;
			background-color: rgb(242, 241, 239);
			font-family: 'Roboto Condensed', sans-serif;
		}
		.container{
			width: 70%;
			left: 0;
			right: 0;
			margin: auto;
		}
		.code{
			width: 100%;
			height: justify;
			background-color: #3A3A3A;
			padding-left: 20px;

		}
		.codeheading{
			text-align: center;
		}
		.heading{
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 6em; 
		}
		code{
			cursor: pointer;
			line-height: 200%;
		}
		.html{
			color: #8A9CF1;

		}
		.css{
			color: #F9690E;
		}
		.javascript{
			color: #EC7063;
		}
		.tooltip{
			 position: relative;
    		 display: inline-block;
  			 width: justify;
   			 background-color: #34384D;
   			 color: #fff;
   			 text-align: center;
   			 padding: 2px 2px 2px 2px;
   			 border-radius: 6px;
    		 position: absolute;
   			 z-index: 1;
   			 margin-left: 1em;
  			 }
   		.tooltip{
   			display: none;
   		}	
	</style>
</head>
<body>
<div class="container">
	<div class="codeheading"><span class="heading">HTML</span></div>
	<div class="code html">
<pre>
<code id="l1">&lt;div id="container"&gt;</code><span class="tooltip" id="t1">Intiation of a container which wraps the whole body</span>
<code id="l2">	&lt;header&gt; </code><span class="tooltip" id="t2">Header semantic tag</span>
<code id="l3">   &lt;h2 style="margin-left: 5%; font-weight: 400"&gt;DSU LMS&lt;/h2&gt;</code><span class="tooltip" id="t3">A h2 tag which has inline style displacing itself from left side and increasing it's boldness through fontweight.</span>
<code id="l4">	&lt;/header&gt;</code><span class="tooltip" id="t4">Header semantic tag ends.</span>
<code id="l5">	&lt;div id="logo"&gt;</code><span class="tooltip" id="t5">A division which will contain the logo.</span>
<code id="l6"> 		&lt;img src="logo.png" height="100px" width="320px" style="margin-left: 5%;"&gt;</code><span class="tooltip" id="t6">Source image for the logo.</span>
<code id="l7"> 	&lt;hr&gt;</code><span class="tooltip" id="t7">A horizontal row</span>
<code id="l8">	&lt;/div&gt;</code><span class="tooltip" id="t8">Logo division ends here.</span>
<code id="l9">	&lt;section&gt;</code><span class="tooltip" id="t9">Declaration for the section which will contain the slider and images</span>
<code id="l10">  &lt;div id="slider"&gt;</code><span class="tooltip" id="t10">A division for the main slider</span>
<code id="l11">    &lt;img name="slide" width="600" height="500"&gt;</code><span class="tooltip" id="t11">A image with name of 'slide' which will be passed to Javascript for sliding.</span>
<code id="l12">  &lt;/div&gt;</code><span class="tooltip" id="t12">End of main slider division</span>
<code id="l13"> &lt;/section&gt;</code><span class="tooltip" id="t13">End of slider section</span>
<code id="l14">	&lt;footer&gt;</code><span class="tooltip" id="t14">Start of footer</span>
<code id="l15">  &lt;hr style="border: 0.6px solid black; width: 50%; margin-top: 2%"&gt;&lt;h3&gt;&copy2017 DHA SUFFA UNIVERSITY&lt;/h3&gt;</code><span class="tooltip" id="t15">A horizontal row with a border to be visible</span>
<code id="l16">	&lt;/footer&gt;</code><span class="tooltip" id="t16">End of footer</span>
<code id="l17">&lt;/div&gt;</code><span class="tooltip" id="t17">End of container div.</span>
</pre>
	</div>
	<div class="codeheading"><span class="heading">CSS</span></div>
	<div class="code css">
<pre>
<code id="l17">body</code><span class="tooltip" id="t17">Selects the whole document</span>
<code id="l18">{</code><span class="tooltip" id="t18"></span>
<code id="l19">  margin: 0;</code><span class="tooltip" id="t19">used to create space around elements, outside of any defined borders. Here we're initializing it.</span>
<code id="l20">  padding: 0;</code><span class="tooltip" id="t20">generates space around an element's content, inside of any defined borders. Here we're initializing it.</span>
<code id="l21">}</code><span class="tooltip" id="t21"></span>
<code id="l22">#container </code><span class="tooltip" id="t22">serves as background and contains all the contents. </span>
<code id="l23">{</code><span class="tooltip" id="t23"></span>
<code id="l24">    width: 100%;</code><span class="tooltip" id="t24">specifies the width for the division. </span>
<code id="l25">    border: 0.01px #E67E22;  </code><span class="tooltip" id="t25">a short hand property for border-width, border-style and border-color. </span>
<code id="l26">}</code><span class="tooltip" id="t26"></span>
<code id="l27">header</code><span class="tooltip" id="t27">represents a container for introductory content. </span>
<code id="l28">{</code><span class="tooltip" id="t28"></span>
<code id="l29">    font-family: Arial;</code><span class="tooltip" id="t29">consists of related fonts.</span>
<code id="l30">    font-size: 15px;</code><span class="tooltip" id="t30">specifies how large a font will be displayed</span>
<code id="l31">    font-style: normal;</code><span class="tooltip" id="t31">specifies the style of text.</span>
<code id="l32">    font-variant: normal;</code><span class="tooltip" id="t32">selects a normal or small-caps face from a font family.</span>
<code id="l33">    line-height: 20px; </code><span class="tooltip" id="t33">sets the amount of space used for lines.</span>
<code id="l34">    padding: 0.02px; </code><span class="tooltip" id="t34">generates space around an element's content, inside of any defined borders.</span>
<code id="l35">    color: white; </code><span class="tooltip" id="t35">specefies the color of text.</span>
<code id="l36">    background-color: #E05800;</code><span class="tooltip" id="t36">specifies background-color.</span>
<code id="l37">    clear: left;  </code><span class="tooltip" id="t37">used to clear any preexisting alignment.</span>
<code id="l38">    text-align: left; </code><span class="tooltip" id="t38">used to align text.</span>
<code id="l39">    width: 100%;  </code><span class="tooltip" id="t39">specifies the width for the division.</span>
<code id="l40">}</code><span class="tooltip" id="t40"></span>
<code id="l41">footer</code><span class="tooltip" id="t41">defines a footer, typically contains authorship information.</span>
<code id="l42">{ </code><span class="tooltip" id="t42"></span>
<code id="l43"> background-color: #E05800;</code><span class="tooltip" id="t43">specifies background-color</span>
<code id="l44"> width: 100%;</code><span class="tooltip" id="t44"> specifies the width for the division. </span>
<code id="l45"> display: inline-block;</code><span class="tooltip" id="t45">sets how the element is displayed. Inline-block gives footer the behavourial traits of text</span>
<code id="l46"> text-align: center;</code><span class="tooltip" id="t46">aligns the text.</span>
<code id="l47"> margin-top: 4.4%;</code><span class="tooltip" id="t47">sets the margin area on the top of the element.</span>
<code id="l48"> position: absolute;</code><span class="tooltip" id="t48">specifies how an element is positioned in a document.</span>
<code id="l49"> height: 13.8%;</code><span class="tooltip" id="t49">specifies the height of a section.</span>
<code id="l50">}</code><span class="tooltip" id="t50"></span>
<code id="l51">h3</code><span class="tooltip" id="t51"></span>
<code id="l52">{</code><span class="tooltip" id="t52"></span>
<code id="l53">  color: white;</code><span class="tooltip" id="t53">specifies the color</span>
<code id="l54">  font-size: 25px; </code><span class="tooltip" id="t54">specifies how large a font will be displayed.</span>
<code id="l55">}</code><span class="tooltip" id="t55"></span>
<code id="l56">#logo</code><span class="tooltip" id="t56"></span>
<code id="l57">{</code><span class="tooltip" id="t57"></span>
<code id="l58">   width: 100%; </code><span class="tooltip" id="t58">specifies the width for the division.</span>
<code id="l59">    border: 0.01px;</code><span class="tooltip" id="t59">a short hand property for border-width, border-style and border-color.</span>
<code id="l60">    background: url(http://lms.dsu.edu.pk/theme/image.php/essential/theme/1507628713/bg/header) repeat;</code><span class="tooltip" id="t60">A small texture which once set as background imgae and set to repeat, makes copies of itself to fill.</span>
<code id="l61">    height: 113px; specifies the height of a section,</code><span class="tooltip" id="t61"></span>
<code id="l62">}</code><span class="tooltip" id="t62"></span>
<code id="l63">section</code><span class="tooltip" id="t63"></span>
<code id="l64">{</code><span class="tooltip" id="t64"></span>
<code id="l65">    height: 600px;</code><span class="tooltip" id="t65"> specifies the height of a section</span>
<code id="l66">}</code><span class="tooltip" id="t66"></span>
<code id="l67">#slider{</code><span class="tooltip" id="t67"></span>
<code id="l68">  height: 500px;</code><span class="tooltip" id="t68"> specifies the height of a section</span>
<code id="l69">  width: 700px;</code><span class="tooltip" id="t69"> specifies the width for the division. </span>
<code id="l70">  margin: 10px auto;</code><span class="tooltip" id="t70">Creates spaces only from it's top and centers itself due to everything else being auto.</span>
<code id="l71">  position: relative;</code><span class="tooltip" id="t71">specifies how an element is positioned in a document.</span>
<code id="l72">}</code><span class="tooltip" id="t72"></span>	
</pre>		
	</div>
	<div class="codeheading"><span class="heading">Javascript</span></div>
	<div class="code javascript">
<pre>
<code id="l73"> var i = 0;</code><span class="tooltip" id="t73">Intiating a variable which will act as a counter.</span>
<code id="l74"> var images = [];</code><span class="tooltip" id="t74">Intiating a dynamic array which will contain the image sources for each image.</span>
<code id="l75"> var time = 1500;</code><span class="tooltip" id="t75">time between image switch.</span>
<code id="l76">images[0] = "image1.png";</code><span class="tooltip" id="t76">image 1</span>
<code id="l77">images[1] = "image2.png";</code><span class="tooltip" id="t77">image 2</span>
<code id="l78">images[2] = "image3.png";</code><span class="tooltip" id="t78">image 3</span>
<code id="l79">images[3] = "image4.png";</code><span class="tooltip" id="t79">image 4</span>
<code id="l80">function<i>changeImg()</i></code><span class="tooltip" id="t80">A function which once called will slide the image(s)</span>
<code id="l81">{</code><span class="tooltip" id="t81"></span>
<code id="l82">  document.slide.src = images[i];</code><span class="tooltip" id="t82">Get's the element inside document with name 'slide' and changes its source corresponding with array</span>
<code id="l83">  if(i < images.length - 1)</code><span class="tooltip" id="t83">Performs the action inside this scope only if i smaller than max index, i.e 3</span>
<code id="l84">  {   </code><span class="tooltip" id="t84"></span>
<code id="l85">    i++;</code><span class="tooltip" id="t85">increments variable i.</span>
<code id="l86">  } else {</code><span class="tooltip" id="t86">If i is greater than 3, then resets it to 0.</span>
<code id="l87">    i = 0;</code><span class="tooltip" id="t87">reset to O</span>
<code id="l88">  }</code><span class="tooltip" id="t88"></span>
<code id="l89">  setTimeout("changeImg()", time);</code><span class="tooltip" id="t89">run function every 'time' milliseconds</span>
<code id="l90">}</code><span class="tooltip" id="t90"></span>
<code id="l91">window.onload=changeImg;</code><span class="tooltip" id="t91">Run function when page loads</span>
</pre>

	</div>

</div>	
</body>
</html>